* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #eee;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Area Profile */

.area_profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background-color: #ffffff;
    padding: 12px;
    width: 100%;
    position: fixed;
    top: 0;
    /*box-shadow: 0px 4px 6px rgba(0, 0 , 0, 0.1),
                  0px 10px 20px rgba(0, 0, 0, 0.05);*/
}

.profile_info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    position: absolute;
    right: 70px;
}

.profile_img {
    height: 50px;
    border-radius: 100%;
}

/* Menu */

.menu_toggle {
    font-size: 34px;
    cursor: pointer;
}

.sidebar_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background: #ffffff;
    color: black;
    padding: 60px 20px;
    box-sizing: border-box;

    transform: translateX(-100%);
    opacity: 0;
    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
    pointer-events: none;
    /* Evita clique quando escondido */
}

.sidebar_menu.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.menu_links {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 30px;
}

.menu_links ul li {
    list-style: none;
    font-size: 20px;
    margin-bottom: 20px;
    transition: 0.5s transform ease-in-out;
    cursor: pointer;
}

.menu_links ul li i {
    margin-right: 10px;
}

.menu_links ul li:hover {
    transform: scale(1.1);
}

/* Area Dashboard*/

.stock_area {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    margin-top: 100px;
    padding: 16px;
    width: 100%;
    height: auto;
}

.form_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#productForm {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

@media (min-width: 600px) {
    .stock_area .summary_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .stock_area .summary_cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 768px) {
    .stock_area .graphs {
        flex-direction: row;
        justify-content: center;
    }
}
